body {
    margin: 0;
    padding: 72px 32px 32px 72px;
    background: #453;
}
#signin {
    position: relative;
    max-width: 400px;
    background: white;
    margin: 0 auto;
    border-radius: 4px;
    display: none;
}
label {
    color: white;
    position: absolute;
    width: 100px;
    left: -116px;
    text-align: right;
    height: 32px;
    line-height: 32px;
}
label, input, .msg {
    font-size: 14px;
}
.from {
    top: 32px;
}
input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    height: 32px;
    background: transparent;
}
input.to {
    border-bottom: 1px solid rgba(68,85,51, 0.5);
}
#button-holder {
    height: 32px;
    position: absolute;
    bottom: -32px;
    right: 0;
    line-height: 32px;
}
.msg {
    padding: 8px 16px;
    border-top: 1px solid rgba(68,85,51, 0.5);
    display: none;
    line-height: 16px;
}
#signout {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
}
#loading-box {
    display: flex;
    justify-content: center;
    height: 96px;
    align-items: center;
}
#loading-box div {
    background: white;
    width: 8px;
    height: 8px;
    margin: 8px;
    border-radius: 4px;
    animation: 2s infinite alternate vertical-sine, 1s fade-in;
    animation-delay: 1s, 0s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out, ease;
}
@keyframes fade-in {
    from, 50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes vertical-sine {
    from {
        transform: translateY(64px);
    }
    to {
        transform: translateY(-64px);
    }
}
@keyframes vertical-sine2 {
    from {
        transform: translateY(-64px);
    }
    to {
        transform: translateY(64px);
    }
}
#loading-box div:nth-child(odd) {
    animation-name: vertical-sine2, fade-in;
}
#loading-dot-1 {
    animation-duration: 2s, 1s !important;
}
#loading-dot-2 {
    animation-duration: 1.875s, 1s !important;
}
#loading-dot-3 {
    animation-duration: 1.7647s, 1s !important;
}
#loading-dot-4 {
    animation-duration: 1.6667s, 1s !important;
}
#loading-dot-5 {
    animation-duration: 1.5789s, 1s !important;
}
#loading-dot-6 {
    animation-duration: 1.5s, 1s !important;
}
#loading-dot-7 {
    animation-duration: 1.4285s, 1s !important;
}
#loading-dot-8 {
    animation-duration: 1.3636s, 1s !important;
}
#loading-dot-9 {
    animation-duration: 1.3043s, 1s !important;
}
#loading-dot-10 {
    animation-duration: 1.25s, 1s !important;
}
#loading-dot-11 {
    animation-duration: 1.2s, 1s !important;
}
#loading-dot-12 {
    animation-duration: 1.1538s, 1s !important;
}
