body {
    background: #453;
}
#container {
    position: relative;
    width: 594px;
    margin: 0 auto;
}
video {
    background: white;
    display: block;
    position: absolute;
    top: 0;
    left: 297px;
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: -297px;
}
